/*This is an old test file, I wrote all my new code in the .html file
I know it's more neat to split it into a css and js as well, 
I will try to do that next assignment*/

/*.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}